.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-warning {
    border-top-color: #f39c12;
}


.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  overflow-x: hidden;
  padding: 0
}

.direct-chat.chat-pane-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;

}

.direct-chat-msg, .direct-chat-text {
  display: block;
}

.direct-chat-msg {
  margin-bottom: 10px
}

.direct-chat-msg:before, .direct-chat-msg:after {
  content: " ";
  display: table
}

.direct-chat-msg:after {
  clear: both
}

.direct-chat-messages, .direct-chat-contacts {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out
}

.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  font-size: 14px;
  color: #444;
}

.direct-chat-text:after, .direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #d2d6de;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none
}

.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px
}

.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px
}

.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0
}

.right .direct-chat-text:after, .right .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #d2d6de
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px
}

.right .direct-chat-img {
  float: right
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px
}


.direct-chat-timestamp {
  color: #999
}

.direct-chat-contacts-open .direct-chat-contacts {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.direct-chat-contacts {
  -webkit-transform: translate(101%, 0);
  -ms-transform: translate(101%, 0);
  -o-transform: translate(101%, 0);
  transform: translate(101%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background: #222d32;
  color: #fff;
  overflow: auto
}

.direct-chat-danger .right>.direct-chat-text {
  background: #dd4b39;
  border-color: #dd4b39;
  color: #fff
}

.direct-chat-danger .right>.direct-chat-text:after, .direct-chat-danger .right>.direct-chat-text:before {
  border-left-color: #dd4b39
}

.direct-chat-primary .right>.direct-chat-text {
  background: #3c8dbc;
  border-color: #3c8dbc;
  color: #fff
}

.direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before {
  border-left-color: #3c8dbc
}

.direct-chat-warning .right>.direct-chat-text {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff
}

.direct-chat-warning .right>.direct-chat-text:after, .direct-chat-warning .right>.direct-chat-text:before {
  border-left-color: #f39c12
}

.direct-chat-info .right>.direct-chat-text {
  background: #00c0ef;
  border-color: #00c0ef;
  color: #fff
}

.direct-chat-info .right>.direct-chat-text:after, .direct-chat-info .right>.direct-chat-text:before {
  border-left-color: #00c0ef
}

.direct-chat-success .right>.direct-chat-text {
  background: #00a65a;
  border-color: #00a65a;
  color: #fff
}

.direct-chat-success .right>.direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {
  border-left-color: #00a65a
}

.box.box-solid>.box-header .btn.btn-default {
  background: transparent
}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
  background: rgba(0, 0, 0, 0.1)
}

.box.box-solid.box-default {
  border: 1px solid #d2d6de
}

.box.box-solid.box-default>.box-header {
  color: #444;
  background: #d2d6de;
  background-color: #d2d6de
}

.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {
  color: #444
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc
}

.box.box-solid.box-primary>.box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc
}

.box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn {
  color: #fff
}

.box.box-solid.box-info {
  border: 1px solid #00c0ef
}

.box.box-solid.box-info>.box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef
}

.box.box-solid.box-info>.box-header a, .box.box-solid.box-info>.box-header .btn {
  color: #fff
}

.box.box-solid.box-danger {
  border: 1px solid #dd4b39
}

.box.box-solid.box-danger>.box-header {
  color: #fff;
  background: #dd4b39;
  background-color: #dd4b39
}

.box.box-solid.box-danger>.box-header a, .box.box-solid.box-danger>.box-header .btn {
  color: #fff
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12
}

.box.box-solid.box-warning>.box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12
}

.box.box-solid.box-warning>.box-header a, .box.box-solid.box-warning>.box-header .btn {
  color: #fff
}

.box.box-solid.box-success {
  border: 1px solid #00a65a
}

.box.box-solid.box-success>.box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a
}

.box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn {
  color: #fff
}

.box.box-solid>.box-header>.box-tools .btn {
  border: 0;
  box-shadow: none
}

.box.box-solid[class*='bg']>.box-header {
  color: #fff
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table
}

.box-header:after, .box-body:after, .box-footer:after {
  clear: both
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
  border-bottom: none
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  color:#333;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
  margin-right: 5px
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px
}

.box-header>.box-tools [data-toggle="tooltip"] {
  position: relative
}

.box-header>.box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto
}

.box-header>.box-tools .dropdown-menu>li>a {
  color: #444 !important
}

.mailbox-controls.with-border {
  border-bottom: 1px solid #f4f4f4
}

.nav-tabs-custom>.nav-tabs.pull-right {
  float: none !important
}

.nav-tabs-custom>.nav-tabs.pull-right>li {
  float: right
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type {
  margin-right: 0
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type>a {
  border-left-width: 1px
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type.active>a {
  border-left-color: #f4f4f4;
  border-right-color: transparent
}
.treeview-menu>li>a>.pull-right-container>.fa-angle-left, .treeview-menu>li>a>.pull-right-container>.fa-angle-down, .treeview-menu>li>a>.fa-angle-left, .treeview-menu>li>a>.fa-angle-down {
  width: auto
}

.pull-right {
    float: right;
}

.direct-chat-name {
    font-weight: 600;
    color:#333;
}
