/*
* Style CSS Custom (https://getallbkk.com)
* Copyright 2019 Get Connective Authors
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

@import url('https://fonts.googleapis.com/css?family=Mitr:300,400,500,600|Prompt:300,300i,400,400i,500,500i,600,600i&display=swap&subset=thai');

/* Custom Design CSS */

html, body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #fff;
    font-family: 'Mitr', sans-serif;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 15px;
    color: #495057;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

a.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

div,p {
    font-family: 'Mitr', sans-serif;
    color: #fff;
}

h1,h2,h3,h4,h5,h6,span {
    font-family: 'Prompt', sans-serif;
    color: #fff;
}

label {
    color: #232323;
}

.wrapper {
    display: block;
    min-height: 100%; /* real browsers */
    height: auto !important; /* real browsers */
    height: 100%; /* IE6 bug */
    margin-bottom: -20px; /* กำหนด margin-bottom ให้ติดลบเท่ากับความสูงของ footer */
 }

 .footer {
    height: 150px; /* ความสูงของ footer */
    display: block;
    text-align: center;
    margin-top: 30px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000;
    color: #e1e1e1;
 }

a.btn-user {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    color: #FFF;
}

.btn-user a:hover {
    text-decoration: none;
}

#login-content {
    background-image: url("../images/fitness_bg.jpg");
    object-fit: cover;
    height: 100vh;
    color: #FFF;
    padding-top: 5%;
}

#main-header {
    background: #323232;
    color: cornsilk;
    padding-left: 10%;
    padding-right: 10%;
}

#main-menu {
    background: #fe4203;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
}


@media (max-width: 1200px) {
  #main-menu {
      background: #fe4203;
      font-size: 16px;
      padding-right: 5px;
      padding-left: 5px;
  }
  .navbar {
      padding-top: 5px;
      padding-bottom:5px;
      padding-left: 0px;
      padding-right: 0px;
  }
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}


.form-box {
    background-color: #e1e1e1;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    color: #333333;
    padding: 25px;
    text-align: left;
    border-radius: 10px;
    opacity: 0.95;
}

.copyright{
    font-size: 13px;
    line-height: 5;
    color: #232323;
}

.btn-forget {
    float: right;
    font-size: 13px;
    font-family: 'Mitr', sans-serif;
}

.btn {
    font-family: 'Mitr', sans-serif;
}

.nav-link {
    font-family: 'Mitr', sans-serif;
}

li a{
    color: cornsilk;
    margin-right: 15px;
}

.navbar-toggler-icon ,.navbar-toggler{
    color: cornsilk;
}

.vdo-title {
    background-color: #202020 ;
    padding-left: 11%;
    padding-right: 11%;
}

.couse-online {
    padding-right: 15%;
    padding-left: 15%;
}

.nav-bartop-mobile {
    display: none;
}

.tbl-class-mobile {
    display: none;
}

div.live-chat {
    height: 80vh;
    background-color: #fff;
}

.user-online {
    margin: 10px;
}








.table .thead-light th {
  text-align: center;
}





@media screen and (max-width : 480px) {
    .nav-bartop {
        display: none;
    }
    .navbar-nav{
        margin-top: 20px;
    }
    .navbar-brand img {
        width: 79vw;
    }
    a.btn-user{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .nav-bartop-mobile {
        display: inline-block;
    }
    form.form-search {
        display: none;
    }
    .nav-link {
        display: block;
        border-bottom: #ec8e40 1px solid;
    }
    .tbl-class {
        display: none;
    }
    .tbl-class-mobile {
        display: block;
        font-size: 12px;
        font-weight: 300;
    }

    .vdo-title {
      padding-left: 10px;
      padding-right: 10px;
  }

}
